{
  "openapi": "3.1.0",
  "info": {
    "title": "0bull API",
    "version": "1.0.0",
    "description": "Manage TikTok, Instagram and YouTube accounts, publish videos, and control phones directly\nover HTTP.\n\n## Authentication\n\nSend your API token as a bearer token on every request:\n\n```\nAuthorization: Bearer YOUR_TOKEN\n```\n\nCreate a token under [Settings, API tokens](https://0bull.net/settings/api-tokens) and copy\nit right away: it is shown once and cannot be retrieved later.\n\nA token can be scoped to one or more abilities:\n\n- `phones:read`: list phones, view snapshots and on-screen text, and check run status.\n- `phones:control`: send input, commands, macros and agent runs to a phone.\n- `accounts`: link, list, update and remove posting accounts.\n- `submissions`: create, list and cancel video submissions.\n- `billing`: view billing and request phone rentals or count changes.\n\nA request whose token lacks the required ability gets a `403`.\n\n## Rate limit\n\n60 requests per minute. Going over that returns a `429` with a `Retry-After` header.\n\n## Async work\n\nAnything that touches a phone or a platform runs in the background. The call returns as\nsoon as the work is accepted, and you poll to see the result:\n\n- Submission changes: poll the submission.\n- Phone work (macros, device commands, agent runs): returns `202` with a run record. Poll\n  `GET /v1/phones/{slot}/runs/{run}` until `status` is `succeeded`, `failed` or `cancelled`.\n\n## Errors\n\nFailures come back as JSON with a `message`. Invalid input adds a field-keyed `errors`\nobject.\n\n- `422`: validation failed.\n- `403`: the token is missing the required ability, or the account cannot access that resource.\n- `409`: conflict, such as cancelling a submission that has already finished.\n- `502`: the phone or platform could not be reached."
  },
  "servers": [
    {
      "url": "https://0bull.net/api",
      "description": "Production"
    }
  ],
  "security": [
    {
      "http": []
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "description": "Returns the account that owns the bearer token used for this request.",
        "summary": "Get the authenticated user",
        "responses": {
          "200": {
            "description": "`UserResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "email_verified_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "email",
                        "email_verified_at"
                      ],
                      "title": "UserResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the time in the `Retry-After` header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts": {
      "get": {
        "operationId": "accounts.index",
        "description": "Returns the authenticated user's own posting accounts, newest first, 50 per\npage. Every platform is included unless `platform` narrows it to one.",
        "summary": "List accounts",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number of the paginated result set.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Only accounts on this platform. Omit for every platform, merged.",
            "schema": {
              "type": "string",
              "enum": [
                "tiktok",
                "instagram",
                "youtube"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `AccountResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "platform": {
                            "type": "string",
                            "description": "Which platform this account posts to."
                          },
                          "handle": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "slot": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "notes": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "google_email": {
                            "type": "string",
                            "description": "The Google account address of this YouTube channel. Only\npresent for YouTube accounts."
                          },
                          "created_at": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "updated_at": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "platform",
                          "handle",
                          "slot",
                          "notes",
                          "created_at",
                          "updated_at"
                        ],
                        "title": "AccountResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The token is missing the ability this endpoint requires.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Errors overview."
                    },
                    "errors": {
                      "type": "object",
                      "description": "A detailed description of each field that failed validation.",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the time in the `Retry-After` header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "accounts.store",
        "description": "`platform` chooses where the account posts and defaults to `tiktok`. The\naccount must already be signed in on the phone at `slot`, or have no slot\nyet for a record-only entry: this endpoint links an account, it does not\nsign one in.\n\n`handle` is required on every platform. YouTube also requires\n`google_email`, the Google account address of the channel; every other\nplatform rejects it.",
        "summary": "Create an account",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platform": {
                    "type": "string",
                    "description": "Which platform to create the account on. Defaults to `tiktok`.",
                    "enum": [
                      "tiktok",
                      "instagram",
                      "youtube"
                    ],
                    "title": "Platform"
                  },
                  "handle": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "slot": {
                    "description": "Required for TikTok, capped at 4 accounts per phone. Optional for Instagram and YouTube.",
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 255
                      },
                      {
                        "type": [
                          "string",
                          "null"
                        ],
                        "maxLength": 255
                      }
                    ]
                  },
                  "notes": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 2000
                  },
                  "google_email": {
                    "description": "The Google account address. Required for YouTube, rejected on every other platform.",
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "email",
                        "maxLength": 255
                      },
                      {
                        "type": "string"
                      }
                    ]
                  }
                },
                "required": [
                  "handle"
                ],
                "title": "StoreAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`AccountResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "platform": {
                          "type": "string",
                          "description": "Which platform this account posts to."
                        },
                        "handle": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "slot": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "notes": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "google_email": {
                          "type": "string",
                          "description": "The Google account address of this YouTube channel. Only\npresent for YouTube accounts."
                        },
                        "created_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "updated_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "platform",
                        "handle",
                        "slot",
                        "notes",
                        "created_at",
                        "updated_at"
                      ],
                      "title": "AccountResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Errors overview."
                    },
                    "errors": {
                      "type": "object",
                      "description": "A detailed description of each field that failed validation.",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the time in the `Retry-After` header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account}": {
      "get": {
        "operationId": "accounts.show",
        "description": "Works for an account on any platform: the id alone identifies it.",
        "summary": "Get an account",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "The account ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`AccountResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "platform": {
                          "type": "string",
                          "description": "Which platform this account posts to."
                        },
                        "handle": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "slot": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "notes": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "google_email": {
                          "type": "string",
                          "description": "The Google account address of this YouTube channel. Only\npresent for YouTube accounts."
                        },
                        "created_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "updated_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "platform",
                        "handle",
                        "slot",
                        "notes",
                        "created_at",
                        "updated_at"
                      ],
                      "title": "AccountResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the time in the `Retry-After` header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "accounts.update",
        "description": "Only the supplied fields are changed. The platform cannot be changed here.\n\n`handle`, `slot` and `notes` can be updated on any platform. `google_email`\ncan only be set on a YouTube account; every other platform rejects it.",
        "summary": "Update an account",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "The account ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "handle": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "slot": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 255
                      },
                      {
                        "type": [
                          "string",
                          "null"
                        ],
                        "maxLength": 255
                      }
                    ]
                  },
                  "notes": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 2000
                  },
                  "google_email": {
                    "description": "The Google account address. Only editable on YouTube.",
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "email",
                        "maxLength": 255
                      },
                      {
                        "type": "string"
                      }
                    ]
                  }
                },
                "title": "UpdateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`AccountResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "platform": {
                          "type": "string",
                          "description": "Which platform this account posts to."
                        },
                        "handle": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "slot": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "notes": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "google_email": {
                          "type": "string",
                          "description": "The Google account address of this YouTube channel. Only\npresent for YouTube accounts."
                        },
                        "created_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "updated_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "platform",
                        "handle",
                        "slot",
                        "notes",
                        "created_at",
                        "updated_at"
                      ],
                      "title": "AccountResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Errors overview."
                    },
                    "errors": {
                      "type": "object",
                      "description": "A detailed description of each field that failed validation.",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the time in the `Retry-After` header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "accounts.destroy",
        "description": "Removes the account from 0bull. This does not delete the account on the\nplatform itself.",
        "summary": "Delete an account",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "The account ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the time in the `Retry-After` header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing": {
      "get": {
        "operationId": "billing.index",
        "description": "Returns your active rentals, pending orders, pricing and renewal dates.",
        "summary": "Get billing summary",
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "`BillingSummaryResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscribed": {
                      "type": "boolean"
                    },
                    "phones": {
                      "type": "integer"
                    },
                    "price_per_phone": {
                      "type": "number"
                    },
                    "monthly": {
                      "type": "number"
                    },
                    "on_grace_period": {
                      "type": "boolean"
                    },
                    "pending_orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "country": {
                            "type": "string"
                          },
                          "phones": {
                            "type": "integer"
                          },
                          "availability": {
                            "type": "string",
                            "enum": [
                              "now",
                              "24h"
                            ]
                          },
                          "placed_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "country",
                          "phones",
                          "availability",
                          "placed_at"
                        ]
                      }
                    },
                    "lines": {
                      "type": "array",
                      "description": "`status` is Stripe's own subscription status.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "canceled",
                              "incomplete",
                              "incomplete_expired",
                              "past_due",
                              "paused",
                              "trialing",
                              "unpaid"
                            ]
                          },
                          "cancelling": {
                            "type": "boolean"
                          },
                          "renews_at": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "status",
                          "cancelling",
                          "renews_at"
                        ]
                      }
                    },
                    "hint": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "subscribed",
                    "phones",
                    "price_per_phone",
                    "pending_orders"
                  ],
                  "title": "BillingSummaryResource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The token is missing the ability this endpoint requires.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the time in the `Retry-After` header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/rentals": {
      "post": {
        "operationId": "billing.rentals",
        "description": "Returns a Stripe Checkout link. No phones are assigned until checkout\ncompletes and the order is fulfilled.",
        "summary": "Start a rental checkout",
        "tags": [
          "Billing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phones": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "minimum": 1,
                    "maximum": 50
                  },
                  "country": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "AD",
                      "AE",
                      "AF",
                      "AG",
                      "AI",
                      "AL",
                      "AM",
                      "AO",
                      "AQ",
                      "AR",
                      "AS",
                      "AT",
                      "AU",
                      "AW",
                      "AX",
                      "AZ",
                      "BA",
                      "BB",
                      "BD",
                      "BE",
                      "BF",
                      "BG",
                      "BH",
                      "BI",
                      "BJ",
                      "BL",
                      "BM",
                      "BN",
                      "BO",
                      "BQ",
                      "BR",
                      "BS",
                      "BT",
                      "BV",
                      "BW",
                      "BY",
                      "BZ",
                      "CA",
                      "CC",
                      "CD",
                      "CF",
                      "CG",
                      "CH",
                      "CI",
                      "CK",
                      "CL",
                      "CM",
                      "CN",
                      "CO",
                      "CR",
                      "CU",
                      "CV",
                      "CW",
                      "CX",
                      "CY",
                      "CZ",
                      "DE",
                      "DJ",
                      "DK",
                      "DM",
                      "DO",
                      "DZ",
                      "EC",
                      "EE",
                      "EG",
                      "EH",
                      "ER",
                      "ES",
                      "ET",
                      "FI",
                      "FJ",
                      "FK",
                      "FM",
                      "FO",
                      "FR",
                      "GA",
                      "GB",
                      "GD",
                      "GE",
                      "GF",
                      "GG",
                      "GH",
                      "GI",
                      "GL",
                      "GM",
                      "GN",
                      "GP",
                      "GQ",
                      "GR",
                      "GS",
                      "GT",
                      "GU",
                      "GW",
                      "GY",
                      "HK",
                      "HM",
                      "HN",
                      "HR",
                      "HT",
                      "HU",
                      "ID",
                      "IE",
                      "IL",
                      "IM",
                      "IN",
                      "IO",
                      "IQ",
                      "IR",
                      "IS",
                      "IT",
                      "JE",
                      "JM",
                      "JO",
                      "JP",
                      "KE",
                      "KG",
                      "KH",
                      "KI",
                      "KM",
                      "KN",
                      "KP",
                      "KR",
                      "KW",
                      "KY",
                      "KZ",
                      "LA",
                      "LB",
                      "LC",
                      "LI",
                      "LK",
                      "LR",
                      "LS",
                      "LT",
                      "LU",
                      "LV",
                      "LY",
                      "MA",
                      "MC",
                      "MD",
                      "ME",
                      "MF",
                      "MG",
                      "MH",
                      "MK",
                      "ML",
                      "MM",
                      "MN",
                      "MO",
                      "MP",
                      "MQ",
                      "MR",
                      "MS",
                      "MT",
                      "MU",
                      "MV",
                      "MW",
                      "MX",
                      "MY",
                      "MZ",
                      "NA",
                      "NC",
                      "NE",
                      "NF",
                      "NG",
                      "NI",
                      "NL",
                      "NO",
                      "NP",
                      "NR",
                      "NU",
                      "NZ",
                      "OM",
                      "PA",
                      "PE",
                      "PF",
                      "PG",
                      "PH",
                      "PK",
                      "PL",
                      "PM",
                      "PN",
                      "PR",
                      "PS",
                      "PT",
                      "PW",
                      "PY",
                      "QA",
                      "RE",
                      "RO",
                      "RS",
                      "RU",
                      "RW",
                      "SA",
                      "SB",
                      "SC",
                      "SD",
                      "SE",
                      "SG",
                      "SH",
                      "SI",
                      "SJ",
                      "SK",
                      "SL",
                      "SM",
                      "SN",
                      "SO",
                      "SR",
                      "SS",
                      "ST",
                      "SV",
                      "SX",
                      "SY",
                      "SZ",
                      "TC",
                      "TD",
                      "TF",
                      "TG",
                      "TH",
                      "TJ",
                      "TK",
                      "TL",
                      "TM",
                      "TN",
                      "TO",
                      "TR",
                      "TT",
                      "TV",
                      "TW",
                      "TZ",
                      "UA",
                      "UG",
                      "UM",
                      "US",
                      "UY",
                      "UZ",
                      "VA",
                      "VC",
                      "VE",
                      "VG",
                      "VI",
                      "VN",
                      "VU",
                      "WF",
                      "WS",
                      "YE",
                      "YT",
                      "ZA",
                      "ZM",
                      "ZW"
                    ]
                  },
                  "accept_terms": {
                    "type": "boolean"
                  },
                  "items": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "country": {
                          "type": "string",
                          "enum": [
                            "AD",
                            "AE",
                            "AF",
                            "AG",
                            "AI",
                            "AL",
                            "AM",
                            "AO",
                            "AQ",
                            "AR",
                            "AS",
                            "AT",
                            "AU",
                            "AW",
                            "AX",
                            "AZ",
                            "BA",
                            "BB",
                            "BD",
                            "BE",
                            "BF",
                            "BG",
                            "BH",
                            "BI",
                            "BJ",
                            "BL",
                            "BM",
                            "BN",
                            "BO",
                            "BQ",
                            "BR",
                            "BS",
                            "BT",
                            "BV",
                            "BW",
                            "BY",
                            "BZ",
                            "CA",
                            "CC",
                            "CD",
                            "CF",
                            "CG",
                            "CH",
                            "CI",
                            "CK",
                            "CL",
                            "CM",
                            "CN",
                            "CO",
                            "CR",
                            "CU",
                            "CV",
                            "CW",
                            "CX",
                            "CY",
                            "CZ",
                            "DE",
                            "DJ",
                            "DK",
                            "DM",
                            "DO",
                            "DZ",
                            "EC",
                            "EE",
                            "EG",
                            "EH",
                            "ER",
                            "ES",
                            "ET",
                            "FI",
                            "FJ",
                            "FK",
                            "FM",
                            "FO",
                            "FR",
                            "GA",
                            "GB",
                            "GD",
                            "GE",
                            "GF",
                            "GG",
                            "GH",
                            "GI",
                            "GL",
                            "GM",
                            "GN",
                            "GP",
                            "GQ",
                            "GR",
                            "GS",
                            "GT",
                            "GU",
                            "GW",
                            "GY",
                            "HK",
                            "HM",
                            "HN",
                            "HR",
                            "HT",
                            "HU",
                            "ID",
                            "IE",
                            "IL",
                            "IM",
                            "IN",
                            "IO",
                            "IQ",
                            "IR",
                            "IS",
                            "IT",
                            "JE",
                            "JM",
                            "JO",
                            "JP",
                            "KE",
                            "KG",
                            "KH",
                            "KI",
                            "KM",
                            "KN",
                            "KP",
                            "KR",
                            "KW",
                            "KY",
                            "KZ",
                            "LA",
                            "LB",
                            "LC",
                            "LI",
                            "LK",
                            "LR",
                            "LS",
                            "LT",
                            "LU",
                            "LV",
                            "LY",
                            "MA",
                            "MC",
                            "MD",
                            "ME",
                            "MF",
                            "MG",
                            "MH",
                            "MK",
                            "ML",
                            "MM",
                            "MN",
                            "MO",
                            "MP",
                            "MQ",
                            "MR",
                            "MS",
                            "MT",
                            "MU",
                            "MV",
                            "MW",
                            "MX",
                            "MY",
                            "MZ",
                            "NA",
                            "NC",
                            "NE",
                            "NF",
                            "NG",
                            "NI",
                            "NL",
                            "NO",
                            "NP",
                            "NR",
                            "NU",
                            "NZ",
                            "OM",
                            "PA",
                            "PE",
                            "PF",
                            "PG",
                            "PH",
                            "PK",
                            "PL",
                            "PM",
                            "PN",
                            "PR",
                            "PS",
                            "PT",
                            "PW",
                            "PY",
                            "QA",
                            "RE",
                            "RO",
                            "RS",
                            "RU",
                            "RW",
                            "SA",
                            "SB",
                            "SC",
                            "SD",
                            "SE",
                            "SG",
                            "SH",
                            "SI",
                            "SJ",
                            "SK",
                            "SL",
                            "SM",
                            "SN",
                            "SO",
                            "SR",
                            "SS",
                            "ST",
                            "SV",
                            "SX",
                            "SY",
                            "SZ",
                            "TC",
                            "TD",
                            "TF",
                            "TG",
                            "TH",
                            "TJ",
                            "TK",
                            "TL",
                            "TM",
                            "TN",
                            "TO",
                            "TR",
                            "TT",
                            "TV",
                            "TW",
                            "TZ",
                            "UA",
                            "UG",
                            "UM",
                            "US",
                            "UY",
                            "UZ",
                            "VA",
                            "VC",
                            "VE",
                            "VG",
                            "VI",
                            "VN",
                            "VU",
                            "WF",
                            "WS",
                            "YE",
                            "YT",
                            "ZA",
                            "ZM",
                            "ZW"
                          ]
                        },
                        "quantity": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 50
                        }
                      },
                      "required": [
                        "country",
                        "quantity"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 10
                  }
                },
                "required": [
                  "accept_terms"
                ],
                "title": "StartRentalRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`StartRentalResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkout_url": {
                      "type": "string"
                    },
                    "phones": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string"
                          },
                          "quantity": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "country",
                          "quantity"
                        ]
                      }
                    },
                    "next": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "checkout_url",
                    "phones",
                    "items",
                    "next"
                  ],
                  "title": "StartRentalResource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The token is missing the ability this endpoint requires.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Errors overview."
                    },
                    "errors": {
                      "type": "object",
                      "description": "A detailed description of each field that failed validation.",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the time in the `Retry-After` header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "A payment or upstream service could not complete the request. Try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/requests": {
      "post": {
        "operationId": "billing.requests",
        "description": "Returns 202 if the change needs approval, or 201 if your standing\nallowance let it apply immediately.",
        "summary": "Request a phone count change",
        "tags": [
          "Billing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phones": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "minimum": 1,
                    "maximum": 50
                  },
                  "add": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "minimum": -49,
                    "maximum": 49
                  },
                  "accept_terms": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "accept_terms"
                ],
                "title": "RequestPhoneCountChangeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`RequestPhoneCountChangeAppliedResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "applied": {
                      "type": "boolean"
                    },
                    "request_id": {
                      "type": "string"
                    },
                    "from_phones": {
                      "type": "integer"
                    },
                    "to_phones": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "applied",
                    "request_id",
                    "from_phones",
                    "to_phones",
                    "next"
                  ],
                  "title": "RequestPhoneCountChangeAppliedResource"
                }
              }
            }
          },
          "202": {
            "description": "`RequestPhoneCountChangePendingResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "applied": {
                      "type": "boolean"
                    },
                    "request_id": {
                      "type": "string"
                    },
                    "approval_url": {
                      "type": "string"
                    },
                    "from_phones": {
                      "type": "integer"
                    },
                    "to_phones": {
                      "type": "integer"
                    },
                    "charge_now": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "charge_on_assignment": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "monthly_after": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "pricing_unavailable": {
                      "type": "boolean"
                    },
                    "expires_at": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "applied",
                    "request_id",
                    "approval_url",
                    "from_phones",
                    "to_phones",
                    "expires_at",
                    "next"
                  ],
                  "title": "RequestPhoneCountChangePendingResource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The token is missing the ability this endpoint requires.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Errors overview."
                    },
                    "errors": {
                      "type": "object",
                      "description": "A detailed description of each field that failed validation.",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the time in the `Retry-After` header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/requests/{billingRequest}": {
      "get": {
        "operationId": "billing.requests.show",
        "description": "Returns one of your billing requests by id. Returns 404 if the id does\nnot exist or belongs to another account.",
        "summary": "Get a billing request",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "billingRequest",
            "in": "path",
            "required": true,
            "description": "The billing request ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`BillingRequestResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "`pending`, `approved`, `declined` or `failed`, or the computed\n`expired` once a pending request has aged out.",
                      "enum": [
                        "pending",
                        "approved",
                        "declined",
                        "failed",
                        "expired"
                      ]
                    },
                    "to_phones": {
                      "type": "integer"
                    },
                    "approval_url": {
                      "type": "string"
                    },
                    "expires_at": {
                      "type": "string"
                    },
                    "resolved_at": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "request_id",
                    "status",
                    "to_phones",
                    "approval_url",
                    "expires_at",
                    "resolved_at"
                  ],
                  "title": "BillingRequestResource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The token is missing the ability this endpoint requires.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the time in the `Retry-After` header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/phones": {
      "get": {
        "operationId": "phone.index",
        "description": "Returns the phones you can view, with their current status and whether\nyou can control them.",
        "summary": "List phones",
        "tags": [
          "Phone"
        ],
        "responses": {
          "200": {
            "description": "Array of `PhoneResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slot": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "video_live": {
                            "type": "boolean"
                          },
                          "input_present": {
                            "type": "boolean"
                          },
                          "can_control": {
                            "type": "boolean"
                          },
                          "model": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "os_version": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "slot",
                          "name",
                          "video_live",
                          "input_present",
                          "can_control",
                          "model",
                          "os_version"
                        ],
                        "title": "PhoneResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The token is missing the ability this endpoint requires.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the time in the `Retry-After` header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/phones/{slot}/agent-runs": {
      "post": {
        "operationId": "phoneAgentRun.store",
        "description": "Runs a free-form task on the phone and returns a run record. Poll\n`GET /v1/phones/{slot}/runs/{run}` to see it finish.",
        "summary": "Start a phone agent run",
        "tags": [
          "PhoneAgentRun"
        ],
        "parameters": [
          {
            "name": "slot",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task": {
                    "type": "string",
                    "maxLength": 2000
                  }
                },
                "required": [
                  "task"
                ],
                "title": "PhoneAgentRunRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "`PhoneRunResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "slot": {
                          "type": "string",
                          "description": "The phone slot UUID this run was queued against."
                        },
                        "kind": {
                          "type": "string",
                          "description": "What was asked for: `macro`, `command` or `agent`.",
                          "enum": [
                            "macro",
                            "command",
                            "agent"
                          ],
                          "title": "PhoneRunKind"
                        },
                        "status": {
                          "type": "string",
                          "description": "`queued`, `running`, `succeeded`, `failed` or `cancelled`.",
                          "enum": [
                            "queued",
                            "running",
                            "succeeded",
                            "failed",
                            "cancelled"
                          ],
                          "title": "PhoneRunStatus"
                        },
                        "label": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Short human label: workflow name, command op, or agent task summary."
                        },
                        "result": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "description": "What the run produced, when it succeeded. Shape depends on `kind`.\nA `get_ip` or `clipboard_get` command returns `{\"value\": \"...\"}`.",
                          "additionalProperties": {}
                        },
                        "error": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Safe, customer-readable reason when `status` is `failed`; else null."
                        },
                        "started_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "finished_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "created_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "slot",
                        "kind",
                        "status",
                        "label",
                        "result",
                        "error",
                        "started_at",
                        "finished_at",
                        "created_at"
                      ],
                      "title": "PhoneRunResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The token is missing the ability this endpoint requires.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Errors overview."
                    },
                    "errors": {
                      "type": "object",
                      "description": "A detailed description of each field that failed validation.",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the time in the `Retry-After` header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "The phone farm is unreachable right now.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Not ready.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/phones/{slot}/commands": {
      "post": {
        "operationId": "phoneCommand.store",
        "description": "Sends a single device command, such as reboot or brightness, and\nreturns a running run record. The run succeeds once the phone has run\nthe command. For `get_ip` and `clipboard_get`, `result.value` holds the\nvalue the phone reported. Poll `GET /v1/phones/{slot}/runs/{run}`\nfor the outcome.",
        "summary": "Queue a phone command",
        "tags": [
          "PhoneCommand"
        ],
        "parameters": [
          {
            "name": "slot",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "op": {
                    "type": "string",
                    "enum": [
                      "clipboard_set",
                      "clipboard_get",
                      "open_url",
                      "reboot",
                      "clear_photos",
                      "get_ip",
                      "brightness",
                      "wifi",
                      "airplane",
                      "cellular",
                      "flashlight"
                    ]
                  },
                  "text": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "url": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "level": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 0,
                    "maximum": 1
                  },
                  "on": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  }
                },
                "required": [
                  "op"
                ],
                "title": "PhoneCommandRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "`PhoneRunResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "slot": {
                          "type": "string",
                          "description": "The phone slot UUID this run was queued against."
                        },
                        "kind": {
                          "type": "string",
                          "description": "What was asked for: `macro`, `command` or `agent`.",
                          "enum": [
                            "macro",
                            "command",
                            "agent"
                          ],
                          "title": "PhoneRunKind"
                        },
                        "status": {
                          "type": "string",
                          "description": "`queued`, `running`, `succeeded`, `failed` or `cancelled`.",
                          "enum": [
                            "queued",
                            "running",
                            "succeeded",
                            "failed",
                            "cancelled"
                          ],
                          "title": "PhoneRunStatus"
                        },
                        "label": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Short human label: workflow name, command op, or agent task summary."
                        },
                        "result": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "description": "What the run produced, when it succeeded. Shape depends on `kind`.\nA `get_ip` or `clipboard_get` command returns `{\"value\": \"...\"}`.",
                          "additionalProperties": {}
                        },
                        "error": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Safe, customer-readable reason when `status` is `failed`; else null."
                        },
                        "started_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "finished_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "created_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "slot",
                        "kind",
                        "status",
                        "label",
                        "result",
                        "error",
                        "started_at",
                        "finished_at",
                        "created_at"
                      ],
                      "title": "PhoneRunResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
[...]
